body{
    font-family: Poppins, sans-serif;
    margin: 0;
}
h1{
    font-weight: 40px;
}
.name-highlights{
    color: orange;
}
.half-width{
    width: 35%;
    float: left;
    margin:5%;
    padding:2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    text-align: justify;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700p;
    padding: 10px 30px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    border-radius: 10px;
}